:root {
  font-size: 16px;
  color: #fff;
}

body {
  background: url("image.jpg") no-repeat fixed center;
  background-size: cover;
  margin: 0;
}

.content {
  font-size: 1.2rem;
  margin: 2rem;
}


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  background-color: #eee;
  font-size: 1rem;
  color: #444;
  cursor: pointer;
  padding: 2vh 2vw;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" */
}


/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 0px 18px;
  background-color: white;
  max-height: 0;
  color: #000;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1rem;
}


/*Media Queries */

@media only screen and (max-width: 600px) {
   :root {
    font-size: 14px;
  }
  .logo {
    height: 95%;
    width: 100px;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
  .accordion {
    padding: 4vh 2vw;
  }
}

@media only screen and (max-width: 400px) {
   :root {
    font-size: 12px;
  }
  .accordion {
    padding: 3vh 2vw;
    font-size: 1.2rem;
  }
  .panel {
    font-size: 1.3rem;
  }
  .content p {
    font-size: 1.5rem;
  }
}